body {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: linear-gradient(222deg, #8e24aa, #5e35b1, #3949ab, #303f9f);
  background-size: 800% 800%;
  -webkit-animation: Genetic 18s ease infinite;
  -moz-animation: Genetic 18s ease infinite;
  -o-animation: Genetic 18s ease infinite;
  animation: Genetic 18s ease infinite;
  @-webkit-keyframes Genetic {
    0% {
      background-position: 88% 0%
    }
    50% {
      background-position: 13% 100%
    }
    100% {
      background-position: 88% 0%
    }
  }
  @-moz-keyframes Genetic {
    0% {
      background-position: 88% 0%
    }
    50% {
      background-position: 13% 100%
    }
    100% {
      background-position: 88% 0%
    }
  }
  @-o-keyframes Genetic {
    0% {
      background-position: 88% 0%
    }
    50% {
      background-position: 13% 100%
    }
    100% {
      background-position: 88% 0%
    }
  }
  @keyframes Genetic {
    0% {
      background-position: 88% 0%
    }
    50% {
      background-position: 13% 100%
    }
    100% {
      background-position: 88% 0%
    }
  }
}

footer::after{
  padding-bottom: 65px !important;
}
