body {
  width: 100wh;
  height: 100vh;
  background: linear-gradient(222deg, #6A1B9A, #4527A0, #283593, #1565C0, #0277BD, #00838F);
  background-size: 800% 800%;
  -webkit-animation: gradient 15s ease infinite;
  -moz-animation: gradient 15s ease infinite;
  -o-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
  @-webkit-keyframes gradient {
    0% {
      background-position: 88% 0%
    }
    50% {
      background-position: 13% 100%
    }
    100% {
      background-position: 88% 0%
    }
  }
  @-moz-keyframes gradient {
    0% {
      background-position: 88% 0%
    }
    50% {
      background-position: 13% 100%
    }
    100% {
      background-position: 88% 0%
    }
  }
  @-o-keyframes gradient {
    0% {
      background-position: 88% 0%
    }
    50% {
      background-position: 13% 100%
    }
    100% {
      background-position: 88% 0%
    }
  }
  @keyframes gradient {
    0% {
      background-position: 88% 0%
    }
    50% {
      background-position: 13% 100%
    }
    100% {
      background-position: 88% 0%
    }
  }
}

footer::after{
  padding-bottom: 65px !important;
}
